body {
  background-position: top center;
  background-size: cover;
  background-color: #E8EBEF;
}

/* .letras::placeholder {
  color: #4D39E9;;
} */

.card-styles {
  padding: 32px;
   margin: 32px auto;
   border-radius: 25px;
}

.title h2 {
  text-align: center;
  font-size: 36px;
  color: #4D39E9;
  margin-bottom: 60px;
}

.text-color {
  color: #4D39E9;
}

label {
  font-size: 18px;
  color: #4D39E9;
  margin-bottom: 10px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1;
  outline: none;
}

textarea {
  overflow: auto;
}

.x-large-textarea {
  font-family: Courier, sans-serif;
  height: 100%;
  width: 100%;
}

.form textarea {
  width: 100%;
  height: 200px;
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
}

.contact-btn button {
  border: 0;
  padding: 15px 35px;
  font-size: 22px;
  border-radius: 5px;
  background-color: #4D39E9;
  color: #fff;       
}

/* AutoCompleted */
input {
  border: 1px solid #999;
  padding: 8px;
  width: 300px;
}
.no-autocomplete {
  color: red;
  padding: 8px;
}
.autocomplete {
  position: absolute;
  background: #fff;
  border: 1px solid #999;
  border-top-width: 0; 
  list-style: none; 
  margin-top: -2%; 
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}
.autocomplete li {
  padding: 8px;
}
.autocomplete > .active,
.autocomplete li:hover {
  background-color: darkgray;
  cursor: pointer;
  /* font-weight: 700; */
}
.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

/* captcha */
.error-captcha {
	color: red;
	margin-bottom: 20px;
}

.error-token {
  color: red;
  /* position: relative; */
  
}




